.header-nav {
    background-color: rgba(3, 3, 3, 0.384);
    z-index: 5;
}

.title {
    font-size: 4em;
    font-weight: 700;
}
.banner {
    max-height: 800px;
    overflow: hidden;
    margin-top: -160px;
    position: relative;
}
.banner img {
    width: 100%;
    height: auto;
    object-fit: cover;
}
.banner-title {
    position: absolute;
    top: 40%;
    left: 5%;
    z-index: 1000;
}
.footer p {
    font-size: 20px;
}
.footer a{
    text-decoration:  none;
    font-size: 20px;
}

.add-service-bg {
    background-color: rgba(100, 95, 87, 0.404);
}
.tour-bg{
    object-fit: cover;
}


